Repository lionel1014/grupo_1_batitienda, pull requests merged in 2023-12, with the labels that each got.

#61 Lionel/sprint 4
  package-lock.json
  package.json
  src/app.js
  src/controllers/productController.js
  src/database/productos.json
  src/middleware/authmiddleware.js
  src/public/functions/changeCategoryDOM.js
  src/public/images/BatmanRUN-unscreen.gif
  src/public/images/BatmanRUN.gif
  src/routes/product.js
  src/views/parcials/head.ejs
  src/views/product/createProduct.ejs
Labels: user story

#62 Fomulario de editar producto finalizado
  src/controllers/mainController.js
  src/controllers/productController.js
  src/database/productos.json
  src/helpers/productsFunctions.js
  src/public/css/loader.css
  src/public/css/style.css
  src/public/functions/DOMHelpers.js
  src/routes/product.js
  src/views/index.ejs
  src/views/parcials/head.ejs
  src/views/product/createProduct.ejs
  src/views/product/editProduct.ejs
  src/views/product/parcials/formProduct.ejs
  src/views/product/productDetail.ejs
  src/views/product/productList.ejs
Labels: enhancement, user story

#63 creado delete product
  src/controllers/productController.js
  src/helpers/productsFunctions.js
  src/public/functions/DOMHelpers.js
  src/routes/product.js
  src/views/product/parcials/formProduct.ejs
  src/views/product/parcials/loaderBatman.ejs
  src/views/product/productDetail.ejs
Labels: user story

#64 Fusion de rama correccion css a main
  src/controllers/mainController.js
  src/public/css/style.css
  src/views/product/productDetail.ejs
  src/views/user/login.ejs
Labels: user story, css html

#86 Lionel/boton recordar usuario
  src/app.js
  src/controllers/productController.js
  src/controllers/userController.js
  src/middleware/authmiddleware.js
  src/middleware/guessMiddleware.js
  src/middleware/updateCookieMiddleware.js
  src/middleware/userLoggedMiddleware.js
  src/models/Product.js
  src/models/User.js
  src/routes/user.js
  src/views/parcials/header.ejs
  src/views/product/parcials/formProduct.ejs
  src/views/product/productDetail.ejs
  src/views/user/login.ejs
  src/views/user/profile.ejs
Labels: user story

#87 Lionel/sprint5 us restantes
  package-lock.json
  package.json
  src/middleware/userLoggedMiddleware.js
  src/middleware/validateProduct.js
  src/routes/product.js
Labels: user story
